beautifulsoup4
files
gitdb
GitPython
idna
importlib-metadata
ipython
jsonschema
matplotlib
matplotlib-inline
numpy
pandas
Pillow
plotly
pyparsing
requests
scipy
seaborn
Send2Trash
simplejson
SQLAlchemy
streamlit
streamlit-card
streamlit-option-menu
toml
wordcloud
psycopg2-binary
